<div class="container">
    <div class="diag">
        <div><h1 style="margin-left:0 ; margin-right: auto;">Виды диагностики</h1></div>
        <div style="margin-left:auto ; margin-right: 0 ;">Главная / Услуги / Диагностика / Магнитно-резонансная томография </div>
    </div>
    <h2>Мультиспиральная компьютерная томография</h2>

    <div class="rkt">       
            <div style="display: flex;">
                  <h2 id="head-rkt" style="margin-left:0; margin-right: auto;">Мультиспиральный компьютерный томограф</h2>
                  <img style="margin-left:auto; margin-right: 0;" src="/assets/images/medical_logo.svg" alt="card-doctor">
            </div>
            <div id="rkt-text">
                Мультиспиральная компьютерная томография отличается от обычной<br>компьютерной томографии тем, что при низкой лучевой нагрузке<br>возможно получение изображения с высоким качеством,<br>а благодаря разрешающей способности аппарата<br>выявляются самые малые изменения внутренних органов
            </div>
    </div>           
          <div class="info">
            <h2 style="margin-bottom:0">Canon Aquilion Prime 160</h2>
            <div class="info-block">
                <div class=col style="margin-right: 1.5%; margin-top: auto; margin-bottom: auto;"><img src="/assets/images/rkt.jpg" alt="card-doctor"></div>
                <div class=col style="margin-left: 1.5%; display: block;">
                   <h3 style="margin-bottom: 4%;margin-top: 3%;">ПРЕИМУЩЕСТВА МСКТ В "РЖД-МЕДИЦИНА"</h3>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>160 срезовый мультиспиральный рентгеновский<br>компьютерный томограф</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Сниженная лучевая нагрузка на пациента</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Высокое качество медицинского изображения</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Увеличенный диаметр гентри до 78 см</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Возможность исследования пациентов с избыточной<br>массой тела</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Комфортность для пациентов во время исследования</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>возможность записи на консультацию к профильным<br>специалистам ЧУЗ «КБ «РЖД-Медицина» г.Воронеж»<br>после получения результатов МСКТ исследования</h4></div>


                    <h3 style="margin-bottom: 4%;margin-top: 6%;">ОБЛАСТИ НАПРАВЛЕНИЯ ИССЛЕДОВАНИЯ МСКТ</h3>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Исследование органов грудной клетки, в том числе<br>с болюсным контрастированием</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Исследование головного мозга</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Обследование костно-суставной системы</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Диагностическое обследование почек и мочеполовых путей</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Диагностика заболеваний органов брюшной полости</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Исследование органов малого таза</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Болюсное контрастирование при исследование паренхиматозных органов</h4></div>

                </div>        
            </div>
            <h3 style="color: red; margin-top: 4%;">* Обращаем Ваше внимание, что выдача описания и заключения производится через 2-3 часа после исследования</h3>
                <div class="work-time">
                    <div class="col"><h2>Режим работы кабинета</h2>
                      <div style="display: flex;">
                        <div class="col-4"><b>Понедельник - Пятница:</b><br>в две смены - ежедневно<br>8.00 - 20.00</div> 
                        <div class="col-2"><b>Суббота:</b><br>8.00 - 14.00</div>       
                        <div class="col-2"><b>Воскресенье:</b><br>Выходной</div>
                      </div>                            
                    </div>
                        <div class="col">
                            <h2>Контактный телефон</h2>
                            <div class="phone">+7 (473) 265-37-86 </div>                  
                    </div>


</div>


