<footer class="footer">
    <div class="container">
        <div class="notice">
            <div class=col id="col-notice">
                УКАЗАННЫЕ НА САЙТЕ ЦЕНЫ НЕ ЯВЛЯЮТСЯ ПУБЛИЧНОЙ<br>ОФЕРТОЙ (СТ.435 ГК РФ, СТ.437 ГК РФ)
            </div>
            <div class=col id="col-notice">
                ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМО<br>ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
            </div>
        </div>
        <div class="main-container">
            <div class="col" id="logos">
                <div class="col" style="margin-bottom: 3%">РЖД<img src="/assets/images/foot_logo.svg" alt="card-doctor">МЕДИЦИНА</div>
                <div class="col"  style="margin-bottom: 3%">«РЖД-Медицина», 2022</div>
                <div class="col"  style="margin-bottom: 3%">Социальные сети</div>
                <div class="col" style="display: flex;">
                        <img src="/assets/images/instagram.svg" alt="card-doctor" style="margin-right: 5%;">
                        <img src="/assets/images/vk.svg" alt="card-doctor">
                </div>
            </div>

            <div class="col" id="pages">
                <div class="col"><h2 style="color: white;margin-bottom: 3%">Страницы</h2></div>
                <div class="col" style="display: flex;">
                    <div class="col" style="margin-bottom: 3%">Главная</div>
                    <div class="col" style="margin-bottom: 3%">Диагностика</div>
                </div>
                <div class="col" style="display: flex;">
                    <div class="col" style="margin-bottom: 3%">Новости</div>
                    <div class="col" style=" margin-bottom: 3%">Врачи</div>
                </div>
                <div class="col" style="display: flex">
                    <div class="col">Услуги</div>
                    <div class="col">Контакты</div>
                </div>
            </div>
            <div class="col" id="mode">
                <div class="col"><h2 style="color: white;margin-bottom: 3%;" >Режим работы отделения</h2></div>
                <div class="col" style="margin-bottom: 3%;">Пн-Пт: 8.00-20.00</div>
                <div class="col" style="margin-bottom: 3%;">Сб: 8.00-14.00</div>
                <div class="col">Вс: Выходной</div>
            </div>
            <div class="col" id="contact">
                <div class="col"><h2 style="color: white; margin-bottom: 3%;">Контакты</h2></div>
                <div class="col" style="margin-bottom: 3%;"><img src="/assets/images/foot_address.svg" style="margin-right: 3%;" alt="card-doctor">г. Воронеж,  пер. Здоровья, д.2</div>
                <div class="col" style="margin-bottom: 3%;"><img src="/assets/images/foot_website.svg" style="margin-right: 3%;" alt="card-doctor">dkbvrn.ru</div>
                <div class="col"><img src="/assets/images/foot_phone.svg" style="margin-right: 3%;" alt="card-doctor">+7 (473) 212-05-15</div>
            </div>
        </div>
        <div class="contract">
            Пользовательские соглашения<br>Полное или частичное воспроизведение материалов сайта возможно только по письменному разрешению Частного Учреждения Здравоохранения «Клиническая больница<br>«РЖД-Медицина» города Воронеж». Правила использования материалов и информации с сайта.
        </div>
        
    </div>
</footer>


