<!--to do-->
<!--slider-->

<div class="container">

  <div class="about-us">
    <h1>Отделение лучевой диагностики</h1>
    <div class="info-us">Квалифицированный персонал и современное оборудование от ведущих мировых производителей позволяют в кратчайшие сроки<br>проводить исследования для постановки диагноза заболевания по современным диагностическим алгоритмам.</div>
    <div class="task">


      <div class="col block">
        <h2>Задача</h2>
        <div class="task-text">
          Максимально полное обследование<br>пациентов с четким соблюдением<br>показаний.
        </div>
      </div>

      <div class="col block" id="col_center">
        <h2>Полнота и комфорт исследования</h2>
        <div class="task-text">
          Оснащенность отделения позволяет<br>проводить обследование с минимальными<br>затратами времени, используя весь спектр<br>диагностических возможностей (КТ, МРТ,<br>традиционные рентгеновские<br>исследования).
        </div>
      </div>

      <div class="col block">
        <h2>Оборудование</h2>
        <div class="task-text">
          Отделение лучевой диагностики больницы<br>оснащено всем комплексом современной<br>диагностической аппаратуры.
        </div>
      </div>     
    </div>   
  </div>


  <div class="view">
    <h2>Виды диагностики</h2>
    <div class="card_1-3">
      
        <div class="col card-equip">
          <a>
            <img class="medical-icon" src="/assets/images/medical_logo.svg" alt="card-doctor">
         </a>            
         <a>
          <img class="medical-mini" src="/assets/images/mrt_open_mini.jpg" alt="card-doctor">
        </a>
        <div class="medical-text">
          Магнитно-резонансная<br>томография (МРТ)
        </div>
        <div class="name-equip"> 
          "SIEMENS MAGNETOM C! 0,35 T"                  
        </div>
        <div class="name-equip" style="margin-top:2%">
          "GE SIGNA CREATOR 1,5 T"                  
        </div>

          <a href="/price/#mrt">
            <div class="red-textdown" style="margin-top:3%;">
               Исследования и цены
               <a>
                 <img class="medical-allow" src="/assets/images/allow.svg" alt="card-doctor">
               </a>
            </div>
          </a>
        </div>
       


        <div class="col card-equip" id="col_center">
        <a>
          <img class="medical-icon" src="/assets/images/medical_logo.svg" alt="card-doctor">
       </a>            
       <a>
        <img class="medical-mini" src="/assets/images/rkt_mini.jpg" alt="card-doctor">
      </a>
      <div class="medical-text">
        Мультиспиральная<br>компьютерная томография (КТ)
      </div>
      <div class="name-equip"> 
        "ТOSHIBA AQUILION PRIME 160"  
      </div>

         <a href="/price/#rkt">
            <div class="red-textdown">
                Исследования и цены
               <a>
                 <img class="medical-allow" src="/assets/images/allow.svg" alt="card-doctor">
              </a>
             </div>
         </a>

        </div>


        <div class="col card-equip">
         <a>
            <img class="medical-icon" src="/assets/images/medical_logo.svg" alt="card-doctor">
         </a>            
         <a>
          <img class="medical-mini" src="/assets/images/rentgen_mini.jpg" alt="card-doctor">
        </a>
        <div class="medical-text">
          Рентгенологические<br>исследования
        </div>
        <div class="name-equip"> 
          "ТЕЛЕКОРД-МТ ПЛЮС"  
        </div>

        <a href="/price/#rentgen">
                 <div class="red-textdown">
                   Исследования и цены
                  <a>
                   <img class="medical-allow" src="/assets/images/allow.svg" alt="card-doctor">
                  </a>
                 </div>
        </a>
     </div>
   </div>
  </div>




  <div class="doctors" id="doctor">
    <h1 style="margin-bottom: 30px;">Врачи</h1>
    Наши врачи - опытные специалисты, регулярно подтверждающие свою квалификацию.
    <div class="photo">

        <div class="card_1-3" style="margin-top:36px">
            <div class="col" id="card-doctor">
              <a>
                <img src="/assets/images/oks_ib.svg" alt="card-doctor">
             </a>
            </div>
           <div class="col" id="card-doctor">
            <a>
              <img src="/assets/images/gurkina_og.svg" alt="card-doctor">
           </a>
           </div>
           <div class="col" id="card-doctor">
            <a>
              <img src="/assets/images/oks_ai.svg" alt="card-doctor">
           </a>
           </div>
        </div>

        <div class="card_4-6">
           <div class="col" id="card-doctor">
            <a>
              <img src="/assets/images/kuralesina_nv.svg" alt="card-doctor">
           </a>
           </div>
           <div class="col" id="card-doctor">
            <a>
              <img src="/assets/images/kondrati'ev_ke.svg" alt="card-doctor">
           </a>
           </div>
           <div class="col" id="card-doctor">
            <a>
              <img src="/assets/images/strukova_mb.svg" alt="card-doctor">
           </a>
           </div>
        </div>

        <div class="card_7">
            <div class="col">
              <a>
                <img src="/assets/images/sulin_ad.svg" alt="card-doctor">
             </a>
            </div>
       </div>   
    </div>
 </div>


</div>
