<h2 style="text-align: center;">Рентегнологические исследования</h2>


<div style="display: flex;">
    <div class="name_col" style="margin-left: 2%;margin-right: auto;"><h2>Услуга</h2></div>
    <div class="name_col" style="margin-left: auto;margin-right: 3%;"><h2>Цена</h2></div>
</div>
<div class="card">
  <div class="name"><h3>Рентгенолография легких (в 1 проекции)</h3></div>
  <div class="price">   750 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Рентгенолография легких (в 2 проекциях)</h3></div>
  <div class="price">   950 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Обзорный снимок органов брюшной полости и малого таза</h3></div>
  <div class="price">   950 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Обзорная урография (рентгенография мочевыделительной системы)</h3></div>
  <div class="price">   990 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Рентгенография костей и суставов (в 1 проекции)</h3></div>
  <div class="price">от 500 ₽</div>
</div>
<div class="card">
  <div class="name"><h3>Рентгенография костей и суставов (в 2 проекции)</h3></div>
  <div class="price">от 930 ₽</div>
</div>
<div class="card">
    <div class="name"><h3>Рентгенография придаточных пазух носа</h3></div>
    <div class="price">   690 ₽</div>
</div>
  <div class="card">
    <div class="name"><h3>Рентгенография шейного отдела позвоночника (в 2 проекции)</h3></div>
    <div class="price">   930 ₽</div>
  </div>
  <div class="card">
    <div class="name"><h3>Рентгенография грудного отдела позвоночника (в 2 проекции)</h3></div>
    <div class="price"> 1 050 ₽</div>
  </div>
  <div class="card">
    <div class="name"><h3>Рентгенография пояснично-крестцового отдела позвоночника (в 2 проекции)</h3></div>
    <div class="price">   930 ₽</div>
  </div>
  <div class="card">
    <div class="name"><h3>Рентгенография пояснично-крестцового отдела позвоночника (в 2 проекции)</h3></div>
    <div class="price">   930 ₽</div>
  </div>
  <div class="card">
    <div class="name"><h3>Рентгенофункциальное исследование шейного отдела позвоночника</h3></div>
    <div class="price"> 1 170 ₽</div>
  </div>
    <div class="card">
    <div class="name"><h3>Рентгенофункциальное исследование пояснично-крестцового отдела позвоночника</h3></div>
    <div class="price"> 1 170 ₽</div>
  </div>
   <div class="card">
    <div class="name"><h3>Внутривенная урография с учетом стоимости контрастного вещества</h3></div>
    <div class="price"> 3 700 ₽</div>
  </div>
  <div class="card">
    <div class="name"><h3>Рентгеноскопия пищевода</h3></div>
    <div class="price">   930 ₽</div>
  </div>
  <div class="card">
    <div class="name"><h3>Рентгеноскопия пищевода,желудка, двенадцатиперстной кишки</h3></div>
    <div class="price"> 2 460 ₽</div>
  </div>
<div class="card" style="margin-bottom:5%">
  <div class="name"><h3>Ирригоскопия (исследование толстой кишки)</h3></div>
  <div class="price"> 2 380 ₽</div>
</div>







