<link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">



<header>
  <!-- header-up -->
   <div class="container">
    <div class="header-container">
      <div class="col" id="col-main-lable"> 
        <a>
           <img src="/assets/images/logo.svg" alt="logo">
        </a></div>
      <div class="col-6" id="col-name">
        Частное Учреждение Здравоохранения "Клиническая больница<br>
        "РЖД-Медицина" города Воронеж"<br>
        <span id= colortext-2>Отделение лучевой диагностики</span></div>      
        <div class="col" id="col-worktime">
          <div class="watch-lable">
            <a>
              <img src="/assets/images/watch.svg" alt="watch">
             </a>
          </div>
          <div class="timetext">
            Пн-Пт: 8.00 - 20.00 <br>
            Сб: 8.00 - 14.00
          </div>
        </div>
      <div class="col" id="col-local">
        <div class="col-label-local">
          <div class="label-local">
        <a>
          <img src="/assets/images/local.svg" alt="local">
         </a>
        </div>
        </div>    
        <div class="localtext">
          г.Воронеж,<br>
          пер.Здоровья, д.2
        </div>
      </div>
    </div>   
  </div>


  <!-- header-menu -->

<div class="downcontainer">
  <div class="container">
  <nav class="nav">
    <a class="nav_link" id="home" (mouseover)="over('home')" (mouseout)="out('home')" href="">Главная</a>
    <a class="nav_link" id="news" (mouseover)="over('news')" (mouseout)="out('news')" href="#">Новости</a>
    <a class="nav_link" id="services" (mouseover)="over('services')" (mouseout)="out('services')" href="/price">Услуги</a>
    


    <a class="nav-link dropdown-toggle" role="button" type="button"  data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" id="diagnosis" (mouseover)="over('diagnosis')" (mouseout)="out('diagnosis')">Диагностика</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">       
        <a class="dropdown-item" role="button" href="/mrt">Магнитно-резонансная томография</a>
        <a class="dropdown-item" role="button" href="/rkt">Мультиспиральная компьютерная томография</a>
        <a class="dropdown-item" role="button" href="/rentgen">Рентгенологические исследования</a>
      </div> 

      

    <a class="nav_link" id="doctors" (mouseover)="over('doctors')" (mouseout)="out('doctors')" href=" /#doctor">Врачи</a>
    <a class="nav_link" id="contacts" (mouseover)="over('contacts')" (mouseout)="out('contacts')" href="/contact">Контакты</a>
  </nav>
  <form class="form">
    <input class="input" placeholder="Поиск ...">
    <button class="button_loupe" type="submit">
      <img src="/assets/images/loupe.svg" alt="local">
    </button>
  </form>


</div>
</div>
</header>
  
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="">Главная<span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item dropdown">
  <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Услуги и цены
  </a>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
       <li class="dropdown-submenu">
       <a class="dropdown-item" tabindex="-1">Магнитно-резонансная томография</a>
       <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" role="button" href="/price/siemens">Открытого типа </a></li>
          <li><a class="dropdown-item" role="button" href="/price/ge">Закрытого типа</a></li>          
       </ul>
    </li>
    <li><a class="dropdown-item" role="button" href="/price/toshiba">Мультиспиральная компьютерная томография</a></li>
    <li><a class="dropdown-item" role="button" href="/price/mtl">Рентгенологический исследования</a></li>
  </ul>
</li>



        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Диагностика 
          </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li class="dropdown-submenu">
               <a class="dropdown-item" tabindex="-1">Магнитно-резонансная томография</a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" role="button" href="/mrt/siemens">Открытого типа </a></li>
                  <li><a class="dropdown-item" role="button" href="/mrt/ge">Закрытого типа</a></li>          
               </ul>
            </li>
            <li><a class="dropdown-item" role="button" href="/ct/toshiba">Мультиспиральная компьютерная томография</a></li>
            <li><a class="dropdown-item" role="button" href="/rentgen/mtl">Рентгенологический исследования</a></li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link">О нас</a>
        </li>
      </ul>  
    </div>
  </nav>
  -->


