<h2 style="text-align: center;">Магнитно-резонансная томография</h2>


<div style="display: flex;">
    <div class="name_col" style="margin-left: 2%;margin-right: auto;"><h2>Услуга</h2></div>
    <div class="name_col" style="margin-left: auto;margin-right: 3%;"><h2>Цена</h2></div>
</div>
<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография головного мозга с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 680 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография гипофиза с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 570 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография околоносовых пазух с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 570 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография глазницы с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 780 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная артериография с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 160 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная венография с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 160 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная ангиография артерий и вен с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 160 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография позвоночника (один отдел) с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 680 ₽</div>
</div>    

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография брюшной полости с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 640 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография забрюшинного пространства с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 640 ₽</div>
</div>    

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография малого таза с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 640 ₽</div>
</div>    

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография суставов (плечевого, тазобедренного, коленного) с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 370 ₽</div>
</div>    

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография суставов (локтевого, голеностопного) с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 910 ₽</div>
</div>   

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография:комплексное обсдедование позвоночника с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">6 740 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Магнитно-резонансная томография:комплексное обсдедование позвоночника и головного мозга</h3></div>
  <div class="price">8 510 ₽</div>
</div>            

<div class="card" style="margin-bottom:5%">
  <div class="name"><h3>Применение контрастого вещества при МРТ исследовании (ГАДОВИСТ)</h3></div>
  <div class="price">4 420 ₽</div>
</div>    