<h2 style="text-align: center;">Мультиспиральная компьютерная томография</h2>


<div style="display: flex;">
    <div class="name_col" style="margin-left: 2%;margin-right: auto;"><h2>Услуга</h2></div>
    <div class="name_col" style="margin-left: auto;margin-right: 3%;"><h2>Цена</h2></div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография височной кости с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 000 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография головы с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 460 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография гортани с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 460 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография придаточных пазух носа с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 460 ₽</div>
</div>


<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография позвоночника с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 790 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография для анализа коронарного кальция с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 780 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография грудной полости с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 790 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография брюшной полости с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 790 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография забрюшинного пространства с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 790 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография тазобедренных суставов с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 790 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография коленных суставов с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 790 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография костей таза суставов с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">2 790 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография органов малого таза с сохранением результатов на термопленке или диске</h3></div>
  <div class="price">3 020 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография голеностопного сустава с сохранением результатов на термопленке</h3></div>
  <div class="price">2 610 ₽</div>
</div>

<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография лучезапястного сустава с сохранением результатов на термопленке</h3></div>
  <div class="price">2 610 ₽</div>
</div>


<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография с внутривенным болюсным контрастированнием</h3></div>
  <div class="price">8 960 ₽</div>
</div>


<div class="card">
  <div class="name"><h3>Мультиспиральная компьютерная томография ангиография сосудов нижних конечностей с болюсным контрастированнием</h3></div>
  <div class="price">9 590 ₽</div>
</div>


<div class="card"  style="margin-bottom:5%">
  <div class="name"><h3>Мультиспиральная компьютерная томография ангиография болюсным аорты и сосудов нижних конечностей с болюсным контрастированнием</h3></div>
  <div class="price">11 650 ₽</div>
</div>

