<div class="container">
    <div class="diag">
        <div><h1 style="margin-left:0 ; margin-right: auto;">Виды диагностики</h1></div>
        <div style="margin-left:auto ; margin-right: 0 ;">Главная / Услуги / Диагностика / Магнитно-резонансная томография </div>
    </div>
    <h2>Рентгенологические исследования</h2>

    <div class="rentgen">       
            <div style="display: flex;">
                  <h2 id="head-rentgen" style="margin-left:0; margin-right: auto;">Телеуправляемый рентгеновский аппарат</h2>
                  <img style="margin-left:auto; margin-right: 0;" src="/assets/images/medical_logo.svg" alt="card-doctor">
            </div>
            <div id="rentgen-text">
                «ТелеКоРД-МТ-Плюс» – современный рентгеновский аппарат<br>на три рабочих места, предназначенный для проведения всех<br>видов рентгенографических и рентгеноскопических исследований,<br>в том числе в режимах томосинтеза, двойной<br>энергии и панорамирования.
            </div>
    </div>           
          <div class="info">
            <h2 style="margin-bottom:0">ТелеКоРД-МТ-Плюс</h2>
            <div class="info-block">
                <div class=col style="margin-right: 1.5%; margin-top: auto; margin-bottom: auto;"><img src="/assets/images/rentgen.jpg" alt="card-doctor"></div>
                <div class=col style="margin-left: 1.5%; display: block;">
                   <h3 style="margin-bottom: 4%;margin-top: 3%;">ПРЕИМУЩЕСТВА РЕНТГЕНОЛОГИЧЕСКИЕ ИССЛЕДОВАНИЯ В "РЖД-МЕДИЦИНА"</h3>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Сниженная лучевая нагрузка на пациента</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Высокое качество медицинского изображения</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Уменьшенное время исследования</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Широкие возможности клинического применения</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>Комфортность для пациентов во время исследования</h4></div>
                    <div class="edge"><img src="/assets/images/union1.svg" alt="card-doctor"><h4>возможность записи на консультацию к профильным<br>специалистам ЧУЗ «КБ «РЖД-Медицина» г.Воронеж»<br>после получения результатов МСКТ исследования</h4></div>

                    <h3 style="margin-bottom: 4%;margin-top: 6%;">ОБЛАСТИ НАПРАВЛЕНИЯ РЕНТГЕНОЛОГИЧЕСКИХ ИССЛЕДОВАНИЙ</h3>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Полипозиционные исследования органов грудной клетки</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Рентгеноскопия пищевода,желудка,ДПК</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Ирригоскопия</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>ЭРХПГ</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Внутренняя урография</h4></div>
                    <div class="edge"><img src="/assets/images/union2.svg" alt="card-doctor"><h4>Рентгенография позвоночника,костей и суставов</h4></div>
             
                </div>        
            </div>
            <h3 style="color: red; margin-top: 4%;">* Обращаем Ваше внимание, что выдача описания и заключения производится через 2-3 часа после исследования</h3>
                <div class="work-time">
                    <div class="col"><h2>Режим работы кабинета</h2>
                      <div style="display: flex;">
                        <div class="col-4"><b>Понедельник - Пятница:</b><br>в две смены - ежедневно<br>8.00 - 20.00</div> 
                        <div class="col-2"><b>Суббота:</b><br>8.00 - 14.00</div>       
                        <div class="col-2"><b>Воскресенье:</b><br>Выходной</div>
                      </div>                            
                    </div>
                        <div class="col">
                            <h2>Контактный телефон</h2>
                            <div class="phone">+7 (473) 265-65-76 </div>   
                            <div class="phone">+7 (473) 265-27-90 </div>               
                    </div>
</div>

